/**
 * Github: https://github.com/Gardo32/WdProject
 * 
 * This CSS file contains styles for a web page layout.
 * It sets the font family, margin, padding, and background image for the body element.
 * The container class defines the maximum width, margin, background color, padding, border radius, and box shadow for a container element.
 * The h2 element is centered and has a specific color.
 * The form element is displayed as a grid with a gap between grid items.
 * The form-group class is displayed as a grid with a smaller gap between grid items.
 * The label element has a bold font weight.
 * The input, select, and textarea elements have a width of 100% and padding.
 * The button element has a width of 100%, padding, background color, text color, border, border radius, and cursor style.
 * The map element has a fixed height of 200px.
 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("s.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    grid-gap: 10px;
}

.form-group {
    display: grid;
    grid-gap: 5px;
}

label {
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#map {
    height: 200px;
}
